<!Doctype html>

<!-------------------------------------------------------------------------------------------------------->
<!--This file contains all posts along with fragment for the user to see the login and register options.-->
<!-------------------------------------------------------------------------------------------------------->

<html xmlns:th="http://thymeleaf.org">
<head>
  <title>Spring MVC Application</title>
</head>
<body>

<header th:replace="layout :: logged-out"></header>

<h1>All Posts</h1>
<main id="posts">
<!--  th:each ="p: ${posts}". This instruction iterates over the list of posts received from HomeController.-->
  <post th:each="p : ${posts}">
    <h2 th:text="${p.title}"></h2>
    <!--    <i>Posted On: </i><span th:text="${p.date}"></span>-->
    <i>Posted On: </i> <span th:text="${#dates.format(p.date,'dd-MMM-yyyy')}"></span>
    <div>
      <p th:text="${p.body}"></p>
    </div>
  </post>
</main>
</body>
</html>