<!Doctype html>

<!------------------------------------------------------------------------>
<!--This is the page that a user will be directed to after logging in.-->
<!------------------------------------------------------------------------>

<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
  <title>Spring MVC Application - User Posts</title>
</head>


<!--"th:fragment="logged in"" indicates that this is a piece of HTML code named 'logged in', which can-->
<!--be used by other HTML files. This is not a complete HTML file in itself, but just a reusable piece-->
<!--of HTML code.-->
<header th:replace="layout :: logged-in"></header>

<body>
<h1>Welcome User. These are your posts</h1>
<main id="posts">
  <post th:each="p : ${posts}">
    <h2 th:text="${p.title}"></h2>
    <i>Posted On: </i> <span th:text="${p.date}"></span>
    <div>
      <p th:text="${p.body}"></p>
    </div>
  </post>
</main>
</body>
</html>